<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table class="table table-striped table-bordered table-hover table-condensed active">
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.genre.name %></td>
        <td><div class="btn btn-default btn-success"><%= link_to fa_icon('eye', text: 'Show'), artist %></div></td>
        <td><div class="btn btn-default btn-warning"><%= link_to fa_icon('pencil', text: 'Edit'), edit_artist_path(artist) %></div></td>
        <td><div class="btn btn-default btn-danger"><%= link_to fa_icon('trash-o'), artist, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
